<div class="container">
  <div color="primary" class="buttons_wrapp">
    <button
      id="randomBtnValues"
      (click)="this.gerarValores()"
      color="accent"
      mat-raised-button
      matTooltip="Selecione o item, e clique aqui para remove-lo."
      [matTooltipPosition]="position.value!"
    >
      <mat-icon>add_outline</mat-icon>
      <span>Gerar Valores Aleatórios</span>
    </button>
    <button
      (click)="this.btnRemoverAction($event.currentTarget)"
      [color]="this.getColorSelected()"
      mat-raised-button
      matTooltip="Selecione o item, e clique aqui para remove-lo."
      [matTooltipPosition]="position.value!"
    >
      <mat-icon>delete_outline</mat-icon>
      <span>Remover</span>
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="openDialog(1, '150ms', '200ms', undefined, undefined, undefined)"
      matTooltip="Clique aqui para adicionar um item novo."
    >
      <mat-icon>note_add</mat-icon>
      <span>Adicicionar</span>
    </button>
  </div>

  <div class="table-wrapper">
    <mat-form-field>
      <mat-label>Buscar:</mat-label>
      <input class="buscar"
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex: Hellium"
        #input
      />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th style="cursor:pointer; user-select: none;" (click)="PropertySort('id');" mat-header-cell *matHeaderCellDef mat-sort-header>Id.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="informacao">
        <th style="cursor:pointer; user-select: none;" (click)="PropertySort('informacao');" mat-header-cell *matHeaderCellDef mat-sort-header>Informação</th>
        <td mat-cell *matCellDef="let element">{{ element.getInformacao(undefined) }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="dataCriacao">
        <th style="cursor:pointer; user-select: none;" (click)="PropertySort('dataCriacao');" mat-header-cell *matHeaderCellDef mat-sort-header>
          Data de criação
        </th>
        <td mat-cell *matCellDef="let element">{{ element.dataCriacao.toLocaleString() }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="dataAtualizacao" mat-sort-header>
        <th style="cursor:pointer; user-select: none;" (click)="PropertySort('dataAtualizacao');" mat-header-cell *matHeaderCellDef>Data de Atualização</th>
        <td mat-cell *matCellDef="let element">
          {{ (element.dataAtualizacao !== undefined) ? element.dataAtualizacao.toLocaleString() : null }}
        </td>
      </ng-container>
      <ng-container matColumnDef="*" mat-sort-header>
        <th mat-header-cell *matHeaderCellDef>Editar/Deletar</th>
    <td mat-cell *matCellDef="let element">
      <button mat-mini-fab matTooltip="Editar" (click)="this.editarDialogActionButton('150ms','250ms',element);"
        color="warn" aria-label="Example mini fab with a heart icon">
        <mat-icon>edit</mat-icon>
      </button>
      <button
      (click)="this.remove(element.id)"
      mat-mini-fab matTooltip="Deletar" color="primary" aria-label="Example mini fab with a heart icon">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="this.selection.toggle(row)"
      ></tr>
      <tr class="mat-row" *matNoDataRow>
        <div *ngIf="input.value.length === 0">
          <td #info style="padding:1%;" bgcolor="white" class="mat-cell" colspan="4">
            Não há informações registradas nessa tabela.
          </td>
        </div>
        <div *ngIf="input.value.length !== 0">
          <td #info class="mat-cell" colspan="4">
            Não obteve informações com esse filtro: "{{ input.value }}"
          </td>
        </div>

      </tr>
    </table>
    <mat-paginator
      [length]="200"
      [pageSizeOptions]="[10]"

      aria-label="Selecione a página de informações"
    >
    </mat-paginator>
  </div>
</div>
