<div class="container">
  <div color="primary" class="buttons_wrapp">

      <button

      (click)="this.btnRemoverAction($event.currentTarget)"
        [color]="this.getColorSelected()"
         mat-raised-button
        matTooltip="Selecione o item, e clique aqui para remove-lo." [matTooltipPosition]="position.value!">

        <mat-icon>delete_outline</mat-icon>
        <span>Remover</span>
        <!-- (click)="openDialog(2,'150ms', '250ms','Não é possivel fazer isso ainda:','Você precisa selecionar os itens para deleta-los.',[{buttonMessage: 'Ok', buttonColor:'primary' }])" -->

      </button>


    <button mat-raised-button color="warn" (click)="openDialog(1,'150ms', '200ms', undefined,undefined,undefined)"
      matTooltip="Clique aqui para adicionar um item novo.">


      <mat-icon>note_add</mat-icon>
      <span>Adicicionar</span>
    </button>
    <!-- <div *ngIf="this.selection.selected.length > 0">
            <button [formControl]="cancelarFormButton" mat-raised-button color="primary"
                matTooltip="Selecione o item, e clique aqui para remove-lo." [matTooltipPosition]="position.value!">
                <mat-icon>delete_outline</mat-icon>
                <span>Remover</span>

            </button>
            <button mat-raised-button color="warn"
                (click)="openDialog(1,'150ms', '200ms', undefined,undefined,undefined)"
                matTooltip="Clique aqui para adicionar um item novo." [matTooltipPosition]="position.value!">


                <mat-icon>note_add</mat-icon>
                <span>Adicicionar</span>
            </button>
          </div> -->


  </div>

  <div class="table-wrapper">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="informacao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Informação </th>
        <td mat-cell *matCellDef="let element"> {{element.informacao}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="dataCriacao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de criação </th>
        <td mat-cell *matCellDef="let element"> {{element.dataCriacao}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="dataAtualizacao" mat-sort-header>
        <th mat-header-cell *matHeaderCellDef> Data de Atualização </th>
        <td mat-cell *matCellDef="let element"> {{element.dataAtualizacao}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="this.selection.toggle(row)">
      </tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Não teve informações encontradas com esse filtro: "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator

    [length]="200"
    [pageSizeOptions]="[10]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
</mat-paginator>

  </div>
</div>
